html,
body {overflow-x: hidden;}
body {
    font: 75%/150% 'open_sansregular', 'Open Sans', arial, helvetica, sans-serif;
    background-color: #fff;
    line-height: 18px;
    background-color: #ffffff;
}
.main-font,
h1,
h2,
h3,
h4,
h5,
.section-title,
.products-list .product-name,
h3.product-name,
.block-layered-nav .block-subtitle--filter,
.feature .heading,
.accordion .heading,
.nav-regular .nav-item.level0 > a,
.nav-regular .nav-submenu--mega > li > a,
.menu-trigger,
.nav-mobile .nav-item.level0 > a,
.nav-mobile .nav-item.level1 > a,
.nav-mobile .nav-item.level2 > a,
.nav-holder .dropdown .dropdown-heading,
.header-mobile .skip-link .label,
.header-mobile .account-links a,
.block .block-title,
#opc-login h3,
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,
.product-view .box-reviews .heading,
.gen-tabs .tabs a,
.gen-tabs .acctab,
.footer .heading,
#subscribe-form label,
.caption .heading {
    font-family: 'open_sansregular', 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 500;
}
a[disabled] {pointer-events: none;}
input,
select,
textarea,
button {
    font-family: 'open_sansregular', 'Open Sans', arial, helvetica, sans-serif;
    font-size: 12px;
}
.footer .button {
    background-color: #008693;
    color: #FFFFFF;
    padding: 0 25px;
}
.footer .button:hover,
.footer .button:focus {
    background-color: #4dbd0d;
    color: #ffffff;
}
.button {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.hideitem {display: none;}
.white {color: #FFFFFF;}
.black {color: #2b2b2b;}
.blue1 {color: #008693;}
.grey1 {color: #7a7a7a;}
.red {color: #f93832;}
.nav-blue1 {color: #015794;}
a.white:hover {
    color: #FFF;
    text-decoration: underline;
}
.pad-5-r {margin-right: 5px;}
.pad-5-l {margin-left: 5px;}


/** NAVIGATION - MAIN & SIDE MENUS  **/
.nav-regular li.level0 > a {padding: 0 20px;}
.nav-regular li.level0 > a .caret {display: none;}
.nav-mobile .nav-item > a, .header-mobile .account-links .links > li > a {line-height: 35px;}
.acco .opener {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 35px;
    line-height: 35px;
}
.sideacco .nav-item > a {
    background-color: #ffffff;
    color: #7a7a7a;
    border: none;
}
.sideacco .nav-item > a:hover {
    background-color: #f5f5f5;
    color: #f43f39;
}
.sidebar .accordion-style1 li a {padding: 0px 0px;}
.sidebar .block .block-title {
    font-size: 15px;
    line-height: 15px;
    color: #f43f39;
    border: none;
    font-weight: bold;
}
ul#leftnav-tree li.level0 {margin-bottom: 14px;}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .nav-regular:not(.nav-vert) .nav-item.level0 > a {padding: 0 20px;}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .nav-regular:not(.nav-vert) .nav-item.level0 > a {padding: 0 7px;}
}


/** HEADER **/
.header-m-primary.header.container .inner-container {padding: 0px;}
.header-regular .right-column .user-menu .top-links ul li {
    margin-left: -1px;
    padding: 0 10px 0px;
}
.header-regular .right-column .user-menu .top-links ul li:last-child {
    border-left: 1px solid #e4e4e4;
    padding: 0 0 0 5px;
}
.header-regular .right-column .user-menu .top-links ul li.first {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    padding: 0 5px;
}
.header-regular .right-column .user-menu .top-links ul li.last a {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 12px;
}
.account-links ul.links {font-size: 11px;}
.header-top a {
    color: #2b2b2b;
}
.top-links .links > li > a {display: inline-block;}
.top-links .links > li > a:hover {
    background-color: #f9f9f9;
    color: #008693;
}
.customer-support-email {
    display: initial;
    color: #2b2b2b;
    font-weight: bold;
}
.customer-support-label {color: #f43f39;font-weight: bold;}
.header-top-container {margin-top: -10px;}
.header-regular .search-wrapper {
    width: 100%;
    position: relative;
    top: 4px;
}
.form-search .input-text {
    background-color: #ffffff;
    border-color: #dddddd;
}
.form-search .button {
    color: #6b6b6b;
    background-color: #d8d8d8 !important;
    /*background-image: -moz-linear-gradient( 90deg, rgb(38,41,42) 0%, rgba(38,41,42,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(38,41,42) 0%, rgba(38,41,42,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(38,41,42) 0%, rgba(38,41,42,0) 100%);
    background-image: linear-gradient( 90deg, rgb(38,41,42) 0%, rgba(38,41,42,0) 100%);*/
    background: #d8d8d8 url('/skin/frontend/ultimo/default/images/search-btn-bg.jpg') no-repeat !important;
    margin: 0px 5px 0px 5px;
    padding: 0px 30px;
    border-radius: 3px;
    border: 1px solid #7a7a7a;
    height: 40px;
}
.form-search .button:before {
    left: -5px;
    position: relative;
}
.form-search .input-text {
    background-color: #ffffff;
    border-color: #afafaf;
    /* border: none; */
    -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.form-search .input-text {
    float: none;
    width: 77%;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px 0 10px;
    color: #bbb;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-search .button {
    right: 7%;
}

/** MINI CART **/
.header-mobile .skip-link.skip-active .count { 
    color: #2b2b2b;
}
.skip-link .count {
    background-color: #fff;
    color: #2b2b2b;
    font-size: 14px;
    border: 1px solid #d5d5d5;
}
.skip-link .price {
    color: #2b2b2b;
}
.mini-cart-heading span.price {
    border-left: 1px solid #d5d5d5;
    padding-left: 8px;
    margin: 0 5px;
}
.mini-cart-checkout {
    background: #87cd00;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 14px;
    float: right;
    letter-spacing: 1px;
}
.mini-cart .mini-cart-content .actions button {
    background-color: #00555d;
}
.header-regular .right-column .dropdown {top: 5px;}
.mini-cart .mini-cart-content .actions button:hover {background-color: #008693;}
.dropdown.open > .dropdown-heading.cover > span,
.dropdown.open > .dropdown-heading.cover > div,
.header-container .dropdown.open > .dropdown-heading.cover > * {
    background-color: transparent;
}
@media only screen and (min-width: 770px) {
    a.mini-cart-heading.dropdown-heading.cover.skip-link.skip-cart {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #d5d5d5;
        border-radius: 20px;
        left: -6px;
        position: relative;
        float: left;
    }
}
@media only screen and (max-width: 769px) {
    .mini-cart-checkout {
        display: none;
    }
    .mini-cart-heading span.price {
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        top: 2px;
        position: relative;
    }
}
.header-container .dropdown .dropdown-content a:hover, .header-container .dropdown.open > .dropdown-heading.cover a:hover, .header-container .form-search .search-autocomplete li:hover {
    color: #f93832;
        text-decoration: underline;
}

/** CART PAGE  **/
.cart-table .product-name {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2em;
}
.cart .shipping,
.cart .discount {
    background-color: #f5f5f5;
    padding: 20px;
    margin: -1%;
    overflow: hidden;
    border: 1px solid #dfdfdf
}
.cart .shipping input.input-text,
.cart .shipping select {
    width: 100%;
    height: 36px;
}
.cart .shipping .sp-methods {
    margin: 10px 0 0;
    display: table;
}
.shipping-form .form-list li {
    margin: 5px 5px 8px;
    width: 46%;
    float: left;
}
@media (max-width: 1280px) {
    .shipping-form .form-list li {
        width: 95%;
    }
}
.cart .discount .buttons-set button.button,
.cart .shipping .buttons-set button.button {
    /* min-width: 161px; */
    line-height: 36px;
    margin-top: 10px;
    background-color: #bcbcbc;
    border-radius: 3px;
}
.cart .discount .buttons-set button.button:hover,
.cart .shipping .buttons-set button.button:hover {
    background-color: #2b2b2b;
}
.cart .discount .buttons-set button.button {
    min-width: 90px;
}
.cart .form-list label {
    float: left;
    font-weight: normal;
    position: relative;
    z-index: 0;
    margin: 0 0 2px 0;
    color: #949494;
}
.cart .totals {
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    margin-top: -20px;
}
.cart .totals table {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    color: #949494;
}
tr.summary-details td {
    font-size: 14px;
}
ul.checkout-types li .btn-checkout {
    background-color: #87cd00;
    color: #ffffff;
    width: 100%;
    font-size: 20px !important;
    letter-spacing: 2px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    ul.checkout-types li .btn-checkout {
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }
}
ul.checkout-types li .btn-checkout:hover {
    background-color: #008693;
}
.cart-table .btn-update, .cart-table .btn-empty {margin-right: 10px;}

/** CHECKOUT **/
.opc-wrapper-opc h2 {
    font-weight: 400;
    font-size: 3em;
    text-align: left;
    margin-right: 40px;
    float: left;
    text-transform: uppercase !important;
}
.opc-wrapper-opc h3 {
    border-bottom: none !important;
}
.opc-wrapper-opc input {
    background: #fff !important;
}
.opc-wrapper-opc .opc-col-left .fields .field {
    width: 45%;
}
.md-modal {
    width: 70% !important;
    max-width: 750px !important;
    min-width: 305px !important;
}
div#co-billing-form {
    padding: 30px 30px 60px;
    border: 1px solid #d0d0d0;
    background: #f9f9f9;
    margin-bottom: 30px;
}
form#opc-address-form-shipping > div {
    padding: 30px 30px 60px;
    border: 1px solid #d0d0d0;
    background: #f9f9f9;
    margin-bottom: 30px;
}
.opc-wrapper-opc .opc-col-center,
.opc-wrapper-opc .opc-col-right {
    padding-top: 0;
}
form#opc-address-form-shipping > div {
    padding: 10px;
    padding: 30px;
    border: 1px solid #d0d0d0;
    background: #f9f9f9;
    margin-bottom: 30px;
}
.opc-wrapper-opc .opc-review-actions .checkout-agreements {
    padding: 20px 0;
}
.checkout-onepage-success button.button {
    float: left;
    margin: 0;
}

/** MAIN CONTENT **/

@media only screen and (max-width: 767px) {
    /*.grid12-1, .grid12-2, .grid12-3, .grid12-4, .grid12-5, .grid12-6, .grid12-7, .grid12-8, .grid12-9, .grid12-10, .grid12-11, .grid12-12, .grid-full {text-align: center;}*/
    .footer {
        text-align: center;
    }
}

.section-title,
strong.section-title {
    border: none;
}

/** HOMEPAGE **/
.pagination-pos-over-bottom-centered .owl-pagination {
    text-align: left;
    margin-top: -35px;
    position: relative;
    left: 20px;
    width: 100%;
    max-width: 1170px;
    margin: -35px auto 20px;
}
strong.section-title.padding-right {
    color: #878787;
    font-weight: bold;
}
.pagination-pos-over-bottom-centered .owl-buttons {
    position: relative;
    left: 20px;
    top: -230px;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}
.slider-arrows2 .owl-controls .owl-buttons div {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.owl-buttons div,
.slider-arrows3 .owl-controls .owl-buttons div,
.slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover,
.slider-pagination1 .owl-controls .owl-page span,
.slider-pagination2 .owl-controls .owl-page span,
#cboxPrevious,
#cboxNext,
#cboxClose,
.accordion-style1 .opener,
.collapsible .opener {
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    border: 1px solid #ffffff;
}
.slider-pagination1 .owl-controls .owl-page.active span,
.slider-pagination1 .owl-controls.clickable .owl-page.active:hover span,
.slider-pagination2 .owl-controls .owl-page.active span,
.slider-pagination2 .owl-controls.clickable .owl-page.active:hover span {
    background-color: #ffffff;
    border: none;
    color: #ffffff;
}
.sorter .view-mode span.grid,
.sorter .view-mode span.list,
.pager .pages .current {
    background-color: #2b2b2b;
    border: none;
    color: #ffffff;
}
.the-slideshow .owl-controls.clickable .owl-buttons div:hover {
    background-color: transparent;
    color: #191919;
}
.slider-arrows2 .owl-controls .owl-buttons div {
    border: none;
    background: transparent;
    text-indent: -20px;
    font-size: 20px;
}
.the-slideshow .owl-controls .owl-buttons .owl-prev:before,
.the-slideshow .owl-controls .owl-buttons .owl-next:before {
    font-size: 110px;
}
.owl-item .ratings .amount {
    display: none;
}
.featured-items-slider span.thedeal4you-label, .featured-items-slider p.thedeal4you-label {
    display: none;
}
.featured-items-slider .products-grid .product-name {
    font-size: 12px;
    min-height: 60px;
    line-height: 18px;
    color: #2b2b2b;
}
.featured-items-slider li > a.link-compare {
    display: none;
}
.featured-items-slider a.link-wishlist {
    font-size: 11px;
    color: #2b2b2b;
}
.featured-items-slider .add-to-links .ic {
    line-height: 12px;
    width: 12px;
    height: 12px;
    font-size: 13px;
}
.featured-items-slider .add-to-links .ic:hover {
    background-color: transparent;
    color: #f43f39;
}
.featured-items-slider .addto-links-icons.addto-onimage {
    float: none;
    margin: 0px 0px 0px 10px;
}
.featured-items-slider .regular-price .price, .featured-items-slider .special-price .price {
    font-size: 18px;
    font-weight: bold;
    color: #2b2b2b !important;
}
.slider-arrows1 .owl-controls .owl-buttons {
    top: -20em;
    right: 0px;
    width: 100%;
}
.slider-arrows1 .owl-controls .owl-buttons .owl-next {
    float: right;
}
.slider-arrows1 .owl-controls .owl-buttons {
    position: relative;
}
.featured-items-slider .owl-controls .owl-buttons .owl-prev:before, .featured-items-slider .owl-controls .owl-buttons .owl-next:before {
    font-size: 20px;
}
.slider-arrows1 .owl-controls .owl-buttons div, .slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover {
    background-color: #7a7a7a;
    color: #ffffff;
    border: none;
    border-radius: 50%;
}
.featured-items-slider .price-box {min-height: 43px;}
.featured-items-slider .old-price {margin: 5px 0;}
.featured-items-slider .old-price .save-label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 10px 3px;
    color: #ffffff !important;
    background-color: #f93832;
    border-radius: 10px;
}
.featured-items-slider a.button.btn-cart {
    background-color: #f9f9f9;
    color: #2b2b2b;
    border: 1px solid #c1c1c1;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 18px;
    /* height: 28px; */
    margin: 0px -2px 10px;
    line-height: 26px;
    border-radius: 20px;
}
.featured-items-slider-view-more-button {
    background-color: #e7e7e7;
    color: #2b2b2b;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 15px;
    height: 30px;
    margin: 0px -2px 10px;
    line-height: 26px;
    border-radius: 20px;
}
.featured-items-slider a.button.btn-cart:hover {
    background-color: #2b2b2b;
    color: #ffffff;
}
.featured-items-slider .products-grid .actions {
    margin: 15px 0 5px 2px;
}
a.featured-items-slider-view-more-button {
    float: right;
    top: 7px;
    position: relative;
    z-index: 99;
}
a.featured-items-slider-view-more-button:hover {
    background: #2b2b2b;
    color: #FFFFFF;
}

/** CATEGORY PAGE **/
.catalog-category-view .category-title h1 {
    margin-bottom: 30px;
    color: #008693;
    font-family: 'open_sansbold', arial, helvetica, sans-serif;
    font-size: 28px;
}
.catalog-category-view .breadcrumbs {display: none;}
.amshopby-slider-bar {background: #2aadba;}
div.block-layered-nav div.amshopby-slider div.handle {top: -3px; height: 23px; left: 158px;}
.catalog-category-view .block-content.toggle-content, .catalogsearch-result-index .block-content.toggle-content {margin-top: -10px; margin-bottom: 50px;}
.block-layered-nav .block-content > dl > dd {
    padding: 0px;
    margin: 0;
}
.block-layered-nav .actions {padding-left: 0;}
.block-layered-nav .block-content > dl > dt {
    margin: 30px 0px 20px;
    padding: 7px 0px 10px 0px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid #e6e6e6;
    width: 90%;
}
div.block-layered-nav dd a.amshopby-attr-selected, div.block-layered-nav dd a.amshopby-attr {padding-left: 25px;}
.amshopby-slider-price-to {
    float: right;
    position: relative;
    top: -74px;
    right: -10px;
}
.price-seperator {
    position: relative;
    top: -65px;
    /* left: 58px; */
    width: 10px;
    height: 1px;
    background: #b9b9b9;
    color: transparent;
    margin: 0 auto;
}
.amshopby-slider-price-from {
    float: left;
    top: -73px;
    left: -10px;
    position: relative;
}
.price-slider-wrapper-block {
    padding: 10px 15px 0px;
    background-color: #f9f9f9;
    margin-top: 40px;
    margin-right: 20px;
}
dl#narrow-by-list ol li {
    margin-bottom: 5px;
}
.block-layered-nav dl dd ol > li > a:before {border: none !important;}
.block-layered-nav dl dd ol > li > a, .block-layered-nav dl dd ol > li > span {padding: 3px 0 3px 0px;}
@media only screen and (max-width: 767px){
    .block-layered-nav dl dd ol > li > a {background-color: #ffffff;}
}
.block-layered-nav .block-content > dl > dt:after {
    border-left: 5px solid #2b2b2b;
    left: inherit;
    right: 10px;
}
.block-layered-nav .block-subtitle--filter:after {border-left: 5px solid #008693;}
.block-layered-nav .block-subtitle--filter.active:after {border-top: 5px solid #f43f39;}
@media only screen and (max-width: 767px){
    .block-layered-nav .block-content > dl > dt:after {
        border-left: 5px solid #2b2b2b;
    }
    .block-layered-nav .block-content.accordion-open > dl > dt.current:after {
        border-top: 5px solid #2b2b2b;
        left: inherit;
        right: 10px;
    }
    .block-layered-nav .block-content > dl > dt.last {
        border-bottom: 2px solid #e5e5e5;
    }
    .block-layered-nav .block-content > dl > dd {
        padding: 20px 0 10px !important;
    }
    .block-layered-nav .block-content > dl > dt {
        margin: 0px 0 0px;
        padding: 15px 0 15px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        font-weight: normal;
        width: 100%;
    }
    .block-layered-nav {
        margin-top: -20px;
        margin-bottom: -30px;
    }
    .block-layered-nav .block-subtitle--filter {
        border-bottom: none;
        font-weight: bold;
    }
    .price-slider-wrapper-block {margin-top: 20px;}
}

/** GRID DISPLAY MODE **/
.category-products .toolbar {}
@media only screen and (min-width: 768px) {
    .category-products .sorter, .pager {
        position: absolute;
        top: -80px;
        right: 0;
    }
}
.category-products .sorter .sort-by label {margin-right: 10px;}
/*@media only screen and (max-width: 768px) {
    .category-products .sorter, .pager {top: -170px;}
}*/
.category-products .category-products-grid .item {
    border-top: none; 
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px !important;
    padding-top: 30px !important;
}
.category-products .category-products-grid p.thedeal4you-label {display: none;}
.category-products .category-products-grid .add-to-links .ic {
    line-height: 16px;
    width: 16px;
    height: 16px;
}
.category-products .category-products-grid .products-list .product-name, .category-products-grid .products-grid .product-name, .category-products-grid h2.product-name, .category-products-grid strong.product-name.product-name {
    font-size: 12px;
    min-height: 60px;
}
.category-products .category-products-grid .price-box {min-height: 43px;}
@media only screen and (max-width: 479px) {
    .category-products .category-products-grid .products-list .product-name, .category-products-grid .products-grid .product-name, .category-products-grid h2.product-name, .category-products-grid strong.product-name.product-name {
        min-height: inherit;
    }
    .category-products .category-products-grid .price-box {min-height: inherit;}
}
.category-products .category-products-grid .add-to-links .ic:hover {
    background-color: transparent;
    color: #f43f39;
}
.category-products .category-products-grid .addto-links-icons.addto-onimage {
    float: none;
    margin: 0px 0px 0px 10px;
}
.category-products .category-products-grid .regular-price .price {
    font-size: 18px;
    font-weight: bold;
    color: #2b2b2b;
}
/*
.category-products .category-products-grid a.button.btn-cart {
    background-color: #e5e5e5;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 10px;
    height: 30px;
    margin: 0px -2px 10px;
    line-height: 26px;
    border: 1px solid #b3b3b3;
    border-radius: 20px;
}
.category-products .category-products-grid a.button.btn-cart:hover {
    background-color: #2b2b2b;
    color: #ffffff;
}
.category-products .category-products-grid .products-grid .actions {
    margin: 10px 0 0 2px;
}
*/
.category-products .category-products-grid span.thedeal4you-label, .featured-items-slider p.thedeal4you-label {
    display: none;
}
.category-products .category-products-grid .products-grid .product-name {
    font-size: 12px;
}
.category-products .category-products-grid li > a.link-compare {
    display: none;
}
.category-products .category-products-grid a.link-wishlist {
    font-size: 11px;
}
.category-products .category-products-grid .add-to-links .ic {
    line-height: 12px;
    width: 12px;
    height: 12px;
    font-size: 13px;
}
.category-products .category-products-grid .add-to-links .ic:hover {
    background-color: transparent;
    color: #f43f39;
}
.category-products .category-products-grid .addto-links-icons.addto-onimage {
    float: right;
    margin: 7px 10px 0px 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .category-products .category-products-grid .addto-links-icons.addto-onimage {
        float: none;
        margin: 0px 0px 0px 10px;
    }
}
.category-products .category-products-grid .regular-price .price, .featured-items-slider .special-price .price {
    font-size: 18px;
    font-weight: bold;
    color: #2b2b2b !important;
} 
.category-products .category-products-grid .special-price span.price {
    font-size: 18px;
    font-weight: bold;
    color: #2b2b2b !important;
}
.category-products .category-products-grid .old-price {margin: 5px 0;}
.category-products .category-products-grid .old-price .save-label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 10px 2px;
    color: #ffffff !important;
    background-color: #f93832;
    border-radius: 10px;
}
.category-products .category-products-grid a.button.btn-cart {
    background-color: #f9f9f9;
    color: #2b2b2b;
    border: 1px solid #c1c1c1;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px 10px;
    height: 28px;
    margin: 0px -2px 10px;
    line-height: 26px;
    border-radius: 20px;
}
.category-products .category-products-grid a.button.btn-cart:hover {
    background-color: #2b2b2b;
    color: #ffffff;
}
.category-products .category-products-grid .products-grid .actions {
    margin: 15px 0 5px 2px;
}
.category-products .products-grid.equal-height .item .actions {
    bottom: -10px !important;
}

/** PRODUCT PAGE **/
.product-view .breadcrumbs a, .breadcrumbs span {
    text-transform: uppercase;
    color: #7a7a7a;
    font-size: 11px;
    margin: 10px 0;
}
.breadcrumbs .sep:before {
    content: "\e263";
    font-size: 10px;
    padding: 0 10px;
}
.product-view .custom-slider-arrow-cls {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #408080;
    border-left: 1px solid #72B8B8;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: transparent;
}
.product-view .custom-slider-arrow-cls:hover {
    border-color: #800000;
    border-width: 2px;
}
.product-view .custom-slider-arrow-cls:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}
.product-view .custom-slider-arrow-cls.back {
    transform: rotate(-45deg);
    left: 0;
}

.product-view .custom-slider-arrow-cls.forward {
    transform: rotate(140deg);
    right: 0;
}
p.product-image.zoom-inside {
    max-width: 440px;
    min-height: 440px;
}
.zoom-btn-small {
    right: -40px !important;
    bottom: -10px !important;
    background-color: transparent !important;
    color: #2b2b2b !important;
}
.zoom-btn-small:hover {
    background-color: transparent !important;
}
.product-view .product-shop .product-name h1 {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: bold;
}
.img-box-style1 .more-images .thumbnails .item a {
/*    margin: 0 2px 4px;
    padding: 4px;
    border: 1px solid #eee;
    height: 79px;
    width: 79px;*/
}
.product-view .slider-arrows3 .owl-controls .owl-buttons .owl-prev {
    background-position: -10px -10px;
    top: 5%;
    left: -90px;
}
.slider-arrows3 .owl-controls .owl-buttons .owl-next {
    background-position: -60px -10px;
    top: 5%;
    right: -40px;
}
.product-view .slider-arrows3 .owl-controls .owl-buttons div {
    background-color: transparent;
    color: #d8d8d8;
    border: none;
}
.product-view .slider-arrows3 .owl-controls.clickable .owl-buttons div:hover {
    background-color: transparent;
    color: #008693;
    border: none;
}
.product-view .slider-arrows3 .owl-controls .owl-buttons div {
    /*width: 90px;*/
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
}
.product-view .owl-controls .owl-buttons .owl-prev:before,
.product-view .owl-controls .owl-buttons .owl-next:before {
    font-size: 80px;
}
.product-view .ratings .rating-links a {color: #2b2b2b;}
.product-view .ratings .rating-links a:hover {color: #f93832; text-decoration: underline;}
.product-view .price-box .regular-price .price/*,
.map-popup-price .price,
.map-popup-msrp .price */{
    font-family: 'open_sanssemibold', 'Open Sans', Verdana, Geneva, sans-serif;
    font-size: 2.4em !important;
}
.product-view .old-price span:first-child, .product-view .price-box .old-price .price {
    font-size: 18px !important;
    font-family: 'open_sansregular', 'Open Sans', Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #2b2b2b;
}
/*.product-view .price-box .old-price .price {font-size: 18px !important;}*/
.product-view .price-box .old-price .save-label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 10px 2px;
    color: #ffffff !important;
    background-color: #f93832;
    border-radius: 15px;
    position: relative;
    top: -3px;
}
/*.product-view .price-box {overflow: hidden;}*/
.product-view .thedeal4you-label {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.countdown-timer-top-label {
    color: #7a7a7a;
    font-size: 13px;
    float: left;
    margin-top: 15px;
}
 .countdown-timer-bottom-label {
    color: #7a7a7a;
    font-size: 13px;
    float: right;
    margin-top: 15px;
}   
@media only screen and (min-width: 767px) and (max-width: 1199px) {
    .countdown-timer-top-label {
        color: #7a7a7a;
        font-size: 13px;
        float: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
     .countdown-timer-bottom-label {
        color: #7a7a7a;
        font-size: 13px;
        float: none;
        margin-top: 15px;
        margin-bottom: 15px; 
    } 
}
@media only screen and (max-width: 470px) {
    .countdown-timer-top-label {
        color: #7a7a7a;
        font-size: 13px;
        float: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
     .countdown-timer-bottom-label {
        color: #7a7a7a;
        font-size: 13px;
        float: none;
        margin-top: 15px;
        margin-bottom: 15px; 
    } 
}
.product-view .special-price {margin-bottom: 4px;}
.product-view .special-price .price, .product-view .special-price .price-label, .product-view .minimal-price-link .price {
    color: #2b2b2b !important;
    position: relative;
    top: -5px;
    left: 10px;
    font-size: 30px !important;
    font-family: 'open_sanssemibold', 'Open Sans', Verdana, Geneva, sans-serif;
}
.product-view span.price-box .price {
    float:left;
}
/*.product-view span.price-aligner {
    position: absolute;
    z-index: 999;
}*/
.product-view span.price-aligner .price {
    position: relative;
    left: 10px;
    top: -4px;
}
.availability {
    float: none;
    margin: 15px 0 20px;
}
.availability.in-stock {
    color: #4dbd0d;
    font-size: 16px;
}
.availability.out-of-stock {
    color: #ff0000;
    font-size: 16px;
}
.availability span span:last-child {
    color: #2b2b2b;
    text-transform: none;
    font-size: 14px;
    margin: 0px 0 0 2px;
    position: relative;
    top: 1px;
}
.product-view .container1-wrapper, .product-view .container2-wrapper, .product-view .add-to-box {
    margin: 25px 0 15px;
    border-bottom: 1px solid #f9f9f9;
    padding: 40px 30px 30px;
    background-color: #f9f9f9;
}
.gen-tabs .tabs a.current,
.gen-tabs .tabs-panels {
    border: none;
    background-color: #f9f9f9;
    font-size: 14px;
}
.gen-tabs--style1 .tabs a,
.gen-tabs .tabs {
    border: none;
    background-color: #dddddd;
    font-size: 14px;
    padding: 0px 30px;
}
.gen-tabs .tabs:first-child {padding-left: 0px;}
.gen-tabs .tabs-panels {padding: 20px 30px;}
.gen-tabs--style1 .tabs a.current {
    background-color: #fafafa;
    margin-bottom: 0;
    border-color: #e5e5e5;
    border-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.gen-tabs .tabs a.current,
.gen-tabs .tabs a:hover {
    color: #2b2b2b;
}
.gen-tabs .acctab:hover,
.gen-tabs .acctab:focus,
.gen-tabs .acctab.current {
    background-color: #f9f9f9;
    color: #2b2b2b;
    font-size: 14px;
    margin: 0 -40px;
    padding: 0 50px;
}
.gen-tabs .acctab {
    background-color: #e5e5e5;
    color: #333333;
    border-color: #e5e5e5;
    font-size: 14px;
    margin: 0 -40px;
    padding: 0 50px;
}
.gen-tabs.accor .tabs-panels .panel {
    padding: 10px;
}
p#review-form a {
    text-decoration: underline;
    color: #2b2b2b;
}
p#review-form a:hover {
    color: #f93832;
}
.qty-wrapper {
    margin-bottom: 20px;
}
.qty-wrapper label {
    color: #7a7a7a;
    font-weight: bold;
    margin-right: 10px;
}
.qty-button {
    float: right;
    margin: 0px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: #f8f8f8;
    border: 1px solid #dedede;
    font-size: 18px;
    font-weight: bold;
    font-family: "Courier New";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.qty-button.decrease {
    float: left;
}
input#qty {
    width: 42px !important;
    height: 42px;
    margin: 0 10px;
}
.product-view .btn-cart {
    background-color: #87cd00;
    color: #ffffff;
    border-radius: 30px;
    border: 1px solid #77b500;
    line-height: 50px;
}
.link-wishlist span.ib.ic.ic-heart {
    background-color: #f6f6f6;
    color: #2b2b2b;
    margin-left: -10px;
    margin-right: 5px;
}
.product-view .link-wishlist span.ib.ic.ic-heart {margin-right: 0px;}
.link-wishlist span.ib.ic.ic-heart:hover,
.feature-icon-hover:hover .ib {
    background-color: transparent !important;
    color: #008693;
}
a.link-wishlist.feature.feature-icon-hover.first {
    background-color: #f8f8f8;
    color: #2b2b2b;
    position: relative;
    /* left: -80px; */
    border: 1px solid #7a7a7a;
    padding: 1px 17px;
    border-radius: 24px;
    float: right;
    margin: 6px 0 0;
    width: 108px;
}
a.link-wishlist.feature.feature-icon-hover.first:hover {
    background-color: #2b2b2b;
    color: #f8f8f8;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .qty-wrapper {
        text-align: center;
    }
    .qty-buttons-wrapper {
        margin-top: 10px;
    }
    a.link-wishlist.feature.feature-icon-hover.first {
        left: -33px;
        margin: 5px 0 10px;
        width: 108px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product-view .btn-cart {
        min-width: 155px;
        font-size: 14px;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 479px) {
    a.link-wishlist.feature.feature-icon-hover.first {
        float: left;
        margin: 4px auto 30px;
        width: 108px;
    }
}
.product-view .add-to-box {
    background-color: #fafafa;
    padding: 30px;
    clear: both;
    margin-top: 20px;
}
a.at-icon-wrapper.at-share-btn.at-svc-facebook {
    background-color: #ffffff !important;
    border-radius: 24px !important;
    border: 1px solid #3c599d !important;
}
a.at-icon-wrapper.at-share-btn.at-svc-twitter {
    background-color: #ffffff !important;
    border-radius: 24px !important;
    border: 1px solid #1da1f2 !important;
}
a.at-icon-wrapper.at-share-btn.at-svc-pinterest_share {
    background-color: #ffffff !important;
    border-radius: 24px !important;
    border: 1px solid #cb2027 !important;
}
a.at-icon-wrapper.at-share-btn.at-svc-google_plusone_share {
    background-color: #ffffff !important;
    border-radius: 24px !important;
    border: 1px solid #dc4e41 !important;
}
a.at-icon-wrapper.at-share-btn.at-svc-email {
    background-color: #ffffff !important;
    border-radius: 24px !important;
    border: 1px solid #848484 !important;
}
svg.at-icon.at-icon-facebook {fill: #3c599d !important;}
svg.at-icon.at-icon-twitter {fill: #1da1f2 !important;}
svg.at-icon.at-icon-pinterest_share {fill: #cb2027 !important;}
svg.at-icon.at-icon-google_plusone_share {fill: #dc4e41 !important;}
svg.at-icon.at-icon-email {fill: #848484 !important;}
.at-style-responsive .at-share-btn {margin: 0px 6px !important;}


/** FOOTER **/

.footer-primary-container {
    background-color: #f9f9f9;
    border-top: 1px solid #cecece;
}

.collapsible .block-title,
.mobile-collapsible .block-title {
    font-size: 15px;
}

ul.footer-links-list {
    line-height: 28px;
    font-size: 13px;
}
h6.block-title.heading {
    width: 85%;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d5d5;
    color: #2b2b2b;
    font-size: 14px;
}
@media only screen and (max-width: 767px) {
    h6.block-title.heading {
        width: 100%;
    }
}

/** NEWSLETTER SUBSCRIBE **/
#subscribe-form .input-box,
#subscribe-form-2 .input-box {
    float: left;
    margin: 0 5px 5px 0;
    position: relative;
    width: 100%;
    /*min-width: 240px;*/
    text-align: right;
}
#subscribe-form .input-text {
    /*float: left;*/
    width: auto;
    border-radius: 20px;
    border: 2px solid #cecece;
    padding: 0 15px;
    /* margin-bottom: 10px; */
    width: 100%;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
#subscribe-form-2 .input-text {
    /* float: left; */
    width: auto;
    border-radius: 20px;
    border: 2px solid #cecece;
    padding: 0 15px;
    /* margin-bottom: 10px; */
    /* width: 100%; */
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
#subscribe-form-2 .input-text {width: 63%;}
.newsletter-btn {
    border-radius: 20px;
    background-color: #008693;
}

.homepage-central-subscribe {
    border: 1px solid #e0e0e0;
    border-width: 1px 0;
    padding: 10px 0 10px;
    margin-bottom: 2%;
}
.homepage-central-subscribe img.subscribe2-logo {}
.homepage-central-subscribe .subscribe-form {
    margin: 5px 0 0;
    float: right;
}
.homepage-central-subscribe .label-text {
    margin: 5px 0 0;
    font-size: 16px;
}
@media only screen and (max-width: 990px) {
    #subscribe-form-2 .input-text {
        width: 90%;
        margin-bottom: 5px;
        /* float: none; */
        margin: 0 auto 10px auto;
    }
    .homepage-central-subscribe .label-text {
        margin: 5px 0 0;
        font-size: 13px;
    }
}
@media only screen and (max-width: 767px) {
    #subscribe-form .input-box,
    #subscribe-form-2 .input-box {
        width: auto;
    }
    #subscribe-form-2 .input-box {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .homepage-central-subscribe {
        width: 313px;
        margin: 0 auto 2%;
        text-align: center;
    }
}
@media only screen and (max-width: 371px) {
    #subscribe-form .input-box,
    #subscribe-form-2 .input-box {
        width: 100%;
    }
    #subscribe-form .input-box {
        float: none;
    }
}
#subscribe-form-2 .input-box .validation-advice {
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
#subscribe-form-2 .input-box .validation-advice {
    padding: 10px 0;
    margin: -30px 0;
    width: 140%;
    position: absolute;
    top: -15%;
    left: -20%;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}


/** MISCELLANEOUS **/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {max-width: 769px;}
}         
#scroll-to-top {
    background-color: #e5e5e5;
    color: #333333;
    border: 1px solid #949494;
}
@media only screen and (max-width: 959px) {
    #scroll-to-top {
        /* display: none !important; */
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 28px;
        bottom: 40px;
        right: 20px;
        border-radius: 0;
    }
}
div#root-wrapper div.grid-container > div > div:nth-child(1) {width: 30%;}
div#root-wrapper div.grid-container > div > div:nth-child(2) {width: 33%;}
div#root-wrapper div.grid-container > div > div:nth-child(3) {width: 30%;}
.usp-container {
    background-color: #ffffff;
    text-align: center;
    min-height: 20px;
    overflow: hidden;
}
.usp-text {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 13px;
}
@media only screen and (max-width: 768px) {
    .usp-container {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 769px) {
    .form-search .button {margin: 0;}
}
.category-title, .my-account .page-title, .box-account .box-head, .dashboard .box .box-title {
    border-color: transparent;
}
.block .actions, .section-line, .buttons-set, .toolbar {
    border-color: transparent;
}
.additional-bg-color, .block-layered-nav .currently, .block-layered-nav .actions, .cart .totals {
    background-color: #f5f5f5;
    background-color: transparent;
}
.checkout-agreements li {
    display: block;
    padding: 15px 10px 15px;
    background-color: #ffffff;
    margin: 0 0 10px;
}
ul#payment_form_cashondelivery li {
    border: 1px solid #d0d0d0;
    font-size: 12px;
}
.checkout-agreements .agreement-content {
    overflow: auto;
    max-height: 250px;
}
.catalogsearch-result-index .breadcrumbs {display: none;}
.catalogsearch-result-index .block.block-list.block-categories.hide-below-768 {display: none;}
.breadcrumbs {line-height: 1.5em; margin: -10px 0 15px;}
.volo {font-size: 11px;}
.volo img {vertical-align: middle;}
.page-title h1, .blue-bold-h1-title {
    color: #008693;
    font-family: 'open_sansbold', arial, helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 0;
}
.dashboard .box-info .box-head h2 {
    color: #008693;
    font-family: 'open_sanssemibold', arial, helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.dashboard .box .box-title h3, .dashboard .box .box-title h4, .order-info-box h2 {
    color: #008693;
    font-family: 'open_sanssemibold', arial, helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
.sidebar .block-account .block-title {
    color: #008693;
}
.note-msg.empty-catalog {
    background: url(../images/img/empty-catalog.png) 10px 10px no-repeat transparent !important;
    color: inherit;
    min-height: 70px;
    padding: 45px 20px 40px 130px !important;
}
.add-to-cart.left-side {
    float: none !important;
    max-width: 410px;
}
#clockdiv {
    max-width: 410px;
    margin: 20px auto;
    font-family: 'open_sansextrabold';
    font-size: 24px;
    color: #2b2b2b;
    text-align: center;
}
#clockdiv > div {
    padding: 5px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #c3c3c3;
    display: inline-block;
}
#clockdiv div > span {
    padding: 3px;
    border-radius: 3px;
    background: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 30px;
}
.smalltext {
    /* padding-top: 5px; */
    font-size: 13px;
    text-align: center;
    color: #2b2b2b;
    font-family: 'Open Sans';
    font-weight: bold;
}
.links-wrapper-separators-left .links > li > a {background:none;}
