<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Basket'); ?>
<?php if ($_product->isSaleable()): ?>
    <?php if(!$_product->isGrouped()): ?>
            <div class="qty-wrapper">
                <label for="qty"><?php echo $this->__('Quantity ') ?></label>
                <div class="qty-buttons-wrapper">
                <div class="qty-button increase"></div>
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Quantity')) ?>" class="input-text qty" />
                <div class="qty-button decrease"></div>
                </div>
            </div>
    <?php endif; ?>
    <div class="add-to-cart left-side">
        <a class="link-wishlist feature feature-icon-hover first" href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" title="<?php echo $this->__('Add to Wishlist') ?>">
            <span class="ib ic ic-heart"></span>
            <span class="label" style="margin-left: -8px;"><?php echo $this->__('Add to Wishlist') ?></span>
        </a>
        <button type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
        
    </div>
    <div id="clockdiv">
    <p class="countdown-timer-top-label">Order within </p>
        <div style="display: none;">
            <span class="days"></span>
            <div class="smalltext">days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">hrs</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">mins</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">secs</div>
        </div>
    <p class="countdown-timer-bottom-label"> for dispatch today!</p>
    </div>

    <div class="paypal-wrapper"><?php echo $this->getChildHtml('', true, true) ?></div>
    <script type="text/javascript">
        $j(document).ready(function () {

            function getTimeRemaining(endtime) {
              var t = Date.parse(endtime) - Date.parse(new Date());
              var seconds = Math.floor((t / 1000) % 60);
              var minutes = Math.floor((t / 1000 / 60) % 60);
              var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
              var days = Math.floor(t / (1000 * 60 * 60 * 24));
              return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
              };
            }

            function initializeClock(id, endtime) {
              var clock = document.getElementById(id);
              var daysSpan = clock.querySelector('.days');
              var hoursSpan = clock.querySelector('.hours');
              var minutesSpan = clock.querySelector('.minutes');
              var secondsSpan = clock.querySelector('.seconds');

              function updateClock() {
                var t = getTimeRemaining(endtime);
                //var t = Date.parse(endtime) - Date.now();

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                }
              }

              updateClock();
              var timeinterval = setInterval(updateClock, 1000);
            }
            var deadline = new Date();
            //deadline.setHours(24,0,0,0);
            deadline = new Date(Date.parse(new Date()) + 90 * 24 * 60 * 60 * 1000);
            //console.log(deadline);
            initializeClock('clockdiv', deadline);

        }); //end: on document ready

        //<![CDATA[
        jQuery(function($) {

            function qtyAdd(a, b, precision) {
                var x = Math.pow(10, precision || 2);
                return (Math.round(a * x) + Math.round(b * x)) / x;
            }
            function qtySubtract(a, b, precision) {
                var x = Math.pow(10, precision || 2);
                return (Math.round(a * x) - Math.round(b * x)) / x;
            }

            // Insert plus/minus buttons
            //$('.qty-wrapper').append('<div class="qty-buttons-wrapper"><div class="qty-button increase"></div><div class="qty-button decrease"></div></div>');

            // Initialize plus/minus buttons
            $('.qty-button').on('click', function() {

                var $button = $(this);
                var $input = $button.parent().parent().find('input');
                var oldValue = $input.val();
                var newVal = 0;

                if (isNaN(oldValue))
                {
                    $input.css('color', 'red');
                }
                else
                {
                    if ($button.hasClass('increase'))
                    {
                        newVal = qtyAdd(parseFloat(oldValue), 1, 4);
                        $input.css('color', '');
                    }
                    else 
                    {
                        var candidateNewValue = qtySubtract(parseFloat(oldValue), 1, 4);
                        if (oldValue > 0 && candidateNewValue > 0) 
                        {
                            newVal = candidateNewValue;
                        }
                        else
                        {
                            newVal = 0;
                            $input.css('color', 'red');
                        }
                    }

                    $input.val(newVal);
                }

            });

        });
        //]]>
    </script>
<?php endif; ?>
