<?php
/**
 * Product description template
 *
 * @see Mage_Catalog_Block_Product_View_Description
 */
?>
<?php $_description = $this->getProduct()->getDescription(); ?>
<?php if ($_description): ?>
    <strong class="section-title"><?php echo $this->__('Details') ?></strong>
    <div class="std" style="line-height: 14px !important;">
        <?php
        $html = $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description');
        echo strip_tags( $html, '<p><em><strong><br></br><b><i><ul><ol><li><a>' ); 
        //$text = preg_replace('#(<[a-z ]*)(style=("|\')(.*?)("|\'))([a-z ]*>)#', '\\1\\6', $html); 
        //echo strip_tags($text,"");
        ?>
    </div>
<?php endif; ?>
