<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php $bodyClasses = $this->getBodyClass() .' '. $this->helper('ultimo')->getThemeBodyClasses() . ' page-layout-2columns-left'; ?>
<body class="<?php echo $bodyClasses; ?>">
<?php echo $this->getChildHtml('after_body_start') ?>
<div id="root-wrapper">
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="grid-container usp-container" style="border-bottom: 1px solid #dedede;">
            <div class="container">
                <div class="grid12-4 feature centered"><img src="/media/wysiwyg/infortis/ultimo/icons/usp-icon-van.png" alt="Rapid Reliable Delivery" /><span class="usp-text">Rapid Reliable Delivery</span></div>
                <div class="grid12-4 feature centered"><img src="/media/wysiwyg/infortis/ultimo/icons/usp-icon-cart.png" alt="Huge of Choice of Quality Products" /><span class="usp-text">Huge of Choice of Quality Products</span></div>
                <div class="grid12-4 feature centered"><img src="/media/wysiwyg/infortis/ultimo/icons/usp-icon-tick.png" alt="Unbeatable Customer Support" /><span class="usp-text">Unbeatable Customer Support</span></div>
            </div>
        </div>
        <div class="main-container col2-left-layout">
            <div class="main-top-container"><?php echo $this->getChildHtml('main_before_top') ?></div>
            <div class="main container">
                <div class="inner-container">
                    <?php echo $this->getChildHtml('breadcrumbs') ?>
                    <div class="preface"><?php echo $this->getChildHtml('preface') ?></div>
                    <div id="page-columns" class="columns">
                        <div class="column-main">
                            <?php echo $this->getChildHtml('global_messages') ?>
                            <?php echo $this->getChildHtml('content') ?>
                        <div class="postscript"><?php echo $this->getChildHtml('postscript') ?></div>
                        </div>
                        <div class="col-left sidebar sidebar-main"><?php echo $this->getChildHtml('left') ?></div>
                    </div>
                    
                </div>
            </div>
            <div class="main-bottom-container"><?php echo $this->getChildHtml('main_bottom') ?></div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
</div> <!-- end: root-wrapper -->
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
