<?phpinfo()
// include the Magento core
define('MAGENTO_ROOT', getcwd());
$mageFilename = MAGENTO_ROOT . 'app/Mage.php';

require_once($mageFilename);
umask(0);
Mage::app();
?>

<!-- List all categories and their second level subcategories -->
<div class="block block-list block-categories hide-below-768">
    <div id="block-categories" class="block-title active">
        <strong><span>All Categories </span></strong>
    </div>

<div id="leftnav" class="block-content" style="display:block">
    <?php $helper = $this->helper('catalog/category') ?>
    <?php   foreach ($this->getStoreCategories() as $_category) {
               $categories[$_category->getName()] = $_category;
               $subcategories = $_category->getChildren();
               foreach($subcategories as $subcategory) {
                    $categories[$subcategory->getName()] = $subcategory;
                    if($subcategory->getChildren()){
                        foreach($subcategory->getChildren() as $subcategory_2){
                            $categories[$subcategory_2->getName()] = $subcategory_2;
                        };
                    };
               };
            };
            ksort($categories); ?>
    <?php if (count($categories) > 0): ?>
        <ul id="leftnav-tree" class="level0">
            <?php foreach($categories as $category): ?>
                <li class="level0<?php if ($this->isCategoryActive($category)): ?> active<?php endif; ?>">
                    <a href="<?php echo $helper->getCategoryUrl($category) ?>"><span><?php echo $this->escapeHtml($category->getName()) ?></span></a>
                </li>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateList('leftnav-tree', 'recursive')</script>
    <?php endif; ?>
</div>
</div>