<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<?php
    $theme = Mage::helper('ultimo');
    $accountLinksHtml = '';

    //Default Magento Top Links
    if ($theme->getCfg('magento_blocks/top_links'))
    {
        $accountLinksHtml .= $this->getChildHtml('topLinks');
    }

    //Additional custom links
    if ($tmpHtml = $this->getChildHtml('block_header_top_links'))
    {
        $accountLinksHtml .= $tmpHtml;
    }
?>

<?php if ($accountLinksHtml): ?>
    <div id="header-account" class="account-links top-links links-wrapper-separators-left skip-content skip-content--style">
        <?php //echo $accountLinksHtml; ?>
        <ul class="links">
            <li class="first"><a href="/customer/account/" title="Account" style="display: initial;">Account</a></li>
            <li class="hide-below-768"><span class="customer-support-label">Customer Support </span><a href="mailto:info@thedeal4you.co.uk" title="info@thedeal4you.co.uk" class="customer-support-email">info@thedeal4you.co.uk</a></li>
            <li class="hide-below-768 last"><a href="tel:01268733888" title="call 01268 733888" style="padding-right: 0;"><span class="ic ic-lg ic-phone"></span> 01268 733888/733889</a></li>
        </ul>
    </div>
<?php endif; ?>
